<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcc.wds.web.mapper.CollectTaskMapper">
  <select id="selectCollectTask" resultType="com.wcc.wds.bean.CollectTaskBean">
    select * from sys_collect_config
  </select>
  <insert id="insertCollectTask" parameterType="com.wcc.wds.bean.CollectTaskBean">
    insert into sys_collect_config(id,task_name,release_rule_id,collect_time,task_type,collect_path,revolution,thread_num,task_status)
    values (#{id},#{task_name},#{release_rule_id},#{collect_time},#{task_type},#{collect_path},#{revolution},#{thread_num},#{task_status})
  </insert>
  <delete id="deleteCollectTask" parameterType="com.wcc.wds.bean.CollectTaskBean">
    delete from sys_collect_config where task_name = #{task_name}
  </delete>
  <update id="updateTaskStatus" parameterType="com.wcc.wds.bean.CollectTaskBean">
    update sys_collect_config set task_status = #{task_status} where task_name = #{task_name}
  </update>
  <update id="updateReleaseRule" parameterType="com.wcc.wds.bean.CollectTaskBean">
    update sys_collect_config set release_rule_id = #{release_rule_id} where task_name = #{task_name}
  </update>
  <update id="updateThreadNum" parameterType="com.wcc.wds.bean.CollectTaskBean">
    update sys_collect_config set thread_num = #{thread_num} where task_name = #{task_name}
  </update>
  <update id="updateCollectPath" parameterType="com.wcc.wds.bean.CollectTaskBean">
    update sys_collect_config set collect_path = #{collect_path} where task_name = #{task_name}
  </update>

</mapper>