<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcc.wds.web.mapper.CollectInstanceMapper">
  <resultMap id="baseMap" type="com.wcc.wds.web.model.CollectInstanceModel">
    <id property="instanceId" column="instance_id"/>
    <result property="taskId" column="task_id"/>
    <result property="instanceStatus" column="instance_status"/>
    <result property="startTime" column="start_time"/>
    <result property="endTime" column="end_time"/>
  </resultMap>


  <select id="selectAll" resultMap="baseMap">
    select * from wds_collect_task
  </select>

  <insert id="insert" parameterType="com.wcc.wds.web.model.CollectInstanceModel">
    insert into wds_collect_task(instance_id,task_id,instance_status,start_time)
    values (#{instanceId},#{taskId},#{instanceStatus},#{startTime})
  </insert>

  <delete id="deleteById">
    delete from wds_collect_task where instance_id = #{instanceId}
  </delete>

  <select id="selectByStatus" resultMap="baseMap">
    select task_id from wds_collect_task where instance_status in
    <foreach collection="array" item="instanceStatus" index="index" open="(" close=")" separator=",">
        #{instanceStatus}
    </foreach>
  </select>

  <select id="selectLatest" resultMap="baseMap">
    select Max(start_time), task_id from wds_collect_task group by task_id
    </select>

  <update id="updateStatusById">
    update wds_collect_task set instance_status = #{param2} where instance_id = #{param1}
  </update>

  <update id="updateEndTimeById">
    update wds_collect_task set end_time = #{param2} where instance_id = #{param1}
  </update>

  <select id="selectFail" resultMap="baseMap">
    select * from wds_collect_task where instance_status = 'failed' and retry_time &lt; 3
  </select>

  <update id="updateRetryTimeById">
    update wds_collect_task set retry_time = #{param2} where instance_id = #{param1}
  </update>

  <select id="selectLatestSuccessById" resultType="java.sql.Timestamp">
    select Max(start_time) from wds_collect_task where task_id = #{taskId} and instance_status = 'success'
  </select>
</mapper>